body {
  background: #ffffff;
}

#header {
     background: white
}

#footer {
     background: #ffffff;
}
                     
#audio-panel {
     background-color: #3c3c3c;
}

#subjectPlayer {
     background-color: #3c3c3c;
}
